In [1]:
from main import *
from ai import *
import pandas as pd
import numpy as np

#### Test Solver

In [4]:
test_triple = '...29438....17864.48.3561....48375.1...4157..5..629834953782416126543978.4.961253'
test2 = '.5.....7.9......6...21.75.8.4..69.3...8...4...3.42..5.3.12.86...9......1.8.....2.'
test3 = '8...74...1.........7.5.9.4....65.4..73.....296.8.......2.3.1.5.........8...9....2'
test_triple2='4..5. 37.32......4.........8....2.3.21.84...........9..7..9.1..94.651.......7....'
test_triple3='39....7........65.5.7...349.4938.5.66.1.54983853...4..9..8..134..294.8654.....297'

In [136]:
rows = 'ABCDEFGHI'
cols = '123456789'
boxes = [s+t for s in rows for t in cols]
row_units = [[s+t for s in r for t in cols] for r in rows]
column_units = [[s+t for s in rows for t in c] for c in cols]
square_units = [[s+t for s in rs for t in cs]for rs in ('ABC','DEF','GHI') for cs in ('123','456','789')]
unitlist = row_units + column_units + square_units
units = dict((s, [u for u in unitlist if s in u]) for s in boxes)
peers = dict((s, set(sum(units[s],[]))-set([s])) for s in boxes)

In [346]:
from collections import Counter

a=solve_technique(test_triple3,'single_position')[1]
answer=[]
values_triples = [c for c,b in Counter([v for k,v in a.items() if len(v)==3]).items() if b>2]
triples= [([k for k,v in a.items() if v == vv]) for vv in values_triples]
values_triples

['126', '128', '127']

In [348]:
for t in triples:
    print(t)

['A5', 'C4', 'C5']
['A9', 'B2', 'B9']
['D6', 'D8', 'F8']

In [349]:
for bb in range(len(values_triples)):
    print(values_triples[bb])

126
128
127

In [350]:

for triple in triples:
    for unit in unitlist:
        if(set(triple).issubset(set(unit))): 
            print([x for x in unit if x not in triple])

['A4', 'A6', 'B4', 'B5', 'B6', 'C6']

In [351]:
for triple in triples:
    for unit in unitlist:
        if(set(triple).issubset(set(unit))): 
            print([x for x in unit if x not in triple])
            print(values[triple[0]])

['A4', 'A6', 'B4', 'B5', 'B6', 'C6']
126

In [352]:
valuesa= a

In [353]:
hi='126'
jiji= ['A4', 'A6', 'B4', 'B5', 'B6', 'C6']
for ji in jiji: 
    for digit in hi:
        valuesa[ji] = valuesa[ji].replace(digit, "")

In [347]:
display(a)

   3      9     468  | 12456   126   12568 |   7      12    128
   12    128     48  |  1247  12379  123789|   6      5     128
   5     1268    7   |  126    126    1268 |   3      4      9
---------------------+---------------------+---------------------
   27     4      9   |   3      8     127  |   5     127     6
   6      27     1   |   27     5      4   |   9      8      3
   8      5      3   |  1267  12679  12679 |   4     127     12
---------------------+---------------------+---------------------
   9      67     56  |   8     267    2567 |   1      3      4
   17    137     2   |   9      4     137  |   8      6      5
   4     1368   568  |  156    136    1356 |   2      9      7

In [354]:
display(valuesa)

  3     9    468  |  45   126    58  |  7     12   128
  12   128    48  |  47   379   3789 |  6     5    128
  5    1268   7   | 126   126    8   |  3     4     9
------------------+------------------+------------------
  27    4     9   |  3     8    127  |  5    127    6
  6     27    1   |  27    5     4   |  9     8     3
  8     5     3   | 1267 12679 12679 |  4    127    12
------------------+------------------+------------------
  9     67    56  |  8    267   2567 |  1     3     4
  17   137    2   |  9     4    137  |  8     6     5
  4    1368  568  | 156   136   1356 |  2     9     7

In [5]:
solve_technique(test_triple3,'naked_triple')

('Solved',
 {'A1': '3',
  'A2': '9',
  'A3': '6',
  'A4': '4',
  'A5': '2',
  'A6': '5',
  'A7': '7',
  'A8': '1',
  'A9': '8',
  'B1': '1',
  'B2': '8',
  'B3': '4',
  'B4': '7',
  'B5': '3',
  'B6': '9',
  'B7': '6',
  'B8': '5',
  'B9': '2',
  'C1': '5',
  'C2': '2',
  'C3': '7',
  'C4': '1',
  'C5': '6',
  'C6': '8',
  'C7': '3',
  'C8': '4',
  'C9': '9',
  'D1': '2',
  'D2': '4',
  'D3': '9',
  'D4': '3',
  'D5': '8',
  'D6': '1',
  'D7': '5',
  'D8': '7',
  'D9': '6',
  'E1': '6',
  'E2': '7',
  'E3': '1',
  'E4': '2',
  'E5': '5',
  'E6': '4',
  'E7': '9',
  'E8': '8',
  'E9': '3',
  'F1': '8',
  'F2': '5',
  'F3': '3',
  'F4': '6',
  'F5': '9',
  'F6': '7',
  'F7': '4',
  'F8': '2',
  'F9': '1',
  'G1': '9',
  'G2': '6',
  'G3': '5',
  'G4': '8',
  'G5': '7',
  'G6': '2',
  'G7': '1',
  'G8': '3',
  'G9': '4',
  'H1': '7',
  'H2': '1',
  'H3': '2',
  'H4': '9',
  'H5': '4',
  'H6': '3',
  'H7': '8',
  'H8': '6',
  'H9': '5',
  'I1': '4',
  'I2': '3',
  'I3': '8',
  'I4': '5',
  'I5': '1',
  'I6': '6',
  'I7': '2',
  'I8': '9',
  'I9': '7'},
 'Number of iterations made: 18')

In [6]:
display(solve_technique(test_triple3,'naked_triple')[1])

3 9 6 |4 2 5 |7 1 8
1 8 4 |7 3 9 |6 5 2
5 2 7 |1 6 8 |3 4 9
------+------+------
2 4 9 |3 8 1 |5 7 6
6 7 1 |2 5 4 |9 8 3
8 5 3 |6 9 7 |4 2 1
------+------+------
9 6 5 |8 7 2 |1 3 4
7 1 2 |9 4 3 |8 6 5
4 3 8 |5 1 6 |2 9 7

In [157]:

#values = dict(zip(boxes, ["123456789" if element == "." else element for element in test_triple]))
values = solve_technique(test_triple3,'single_position')[1]
# def naked_triple(values):
#     for unit in unitlist:
#         triples= dict(filter(lambda elem: len(elem[1]) == 3,values.items()))
#         for box in unit:
#             if values[box] in triples:
#                 continuefor digit in triple:
#                     values[box] = values[box].replace(digit, "")
#             for triple in triples :
#                 print(triple)
# #                 
#     return values

In [156]:
#  naked_triple(values)

In [158]:
display(values)

   3      9     468  | 12456   126   12568 |   7      12    128
   12    128     48  |  1247  12379  123789|   6      5     128
   5     1268    7   |  126    126    1268 |   3      4      9
---------------------+---------------------+---------------------
   27     4      9   |   3      8     127  |   5     127     6
   6      27     1   |   27     5      4   |   9      8      3
   8      5      3   |  1267  12679  12679 |   4     127     12
---------------------+---------------------+---------------------
   9      67     56  |   8     267    2567 |   1      3      4
   17    137     2   |   9      4     137  |   8      6      5
   4     1368   568  |  156    136    1356 |   2      9      7

In [12]:
display(naked_triple(values))

            | 1   1   1  | 7   1   1
 1   1      | 17  17  17 |         1
     1   7  | 1   1   1  |         9
------------+------------+------------
 7       9  |         17 |     17
     7   1  | 7          | 9
            | 17 179 179 |     17  1
------------+------------+------------
 9   7      | 8   7   7  | 1
 17  17     | 9       17 | 8
     18  8  | 1   1   1  | 2   9   7

In [3]:
# def display2(values):
#     """
#     Display the values as a 2-D grid.
#     Input: The sudoku in dictionary form
#     Output: None
#     """
#     width = 1+max(len(values[s]) for s in boxes)
#     line = '+'.join(['-'*(width*3)]*3)
#     for r in rows:
#         print(''.join(values[r+c].center(width)+('|' if c in '36' else '')
#                       for c in cols))
#         if r in 'CF': print(line)       
#     print()

In [6]:
display(a[2])

8 5 3 |9 4 6 |1 7 2
9 1 7 |5 8 2 |3 6 4
4 6 2 |1 3 7 |5 9 8
------+------+------
1 4 5 |8 6 9 |2 3 7
6 2 8 |3 7 5 |4 1 9
7 3 9 |4 2 1 |8 5 6
------+------+------
3 7 1 |2 9 8 |6 4 5
2 9 4 |6 5 3 |7 8 1
5 8 6 |7 1 4 |9 2 3

In [7]:
display(a[3])

. 5 . |. . . |. 7 .
9 . . |. . . |. 6 .
. . 2 |1 . 7 |5 . 8
------+------+------
. 4 . |. 6 9 |. 3 .
. . 8 |. . . |4 . .
. 3 . |4 2 . |. 5 .
------+------+------
3 . 1 |2 . 8 |6 . .
. 9 . |. . . |. . 1
. 8 . |. . . |. 2 .

In [68]:
a=solve_technique(test3,"naked_twins")
display(a[1])

   8     569    2369 |   12     7      4   | 12359   1369   1356
   1     4569  23469 |   28    2368   236  | 235789 36789   3567
   23     7     236  |   5    12368    9   |  1238    4     136
---------------------+---------------------+---------------------
   29     19    129  |   6      5     237  |   4     1378   137
   7      3      5   |   14     14     8   |   6      2      9
   6     149     8   |   27    239    237  |  1357   137    1357
---------------------+---------------------+---------------------
   49     2     4679 |   3     468     1   |   79     5     467
  3459  14569  134679|  247    246    2567 |  1379  13679    8
  345   14568  13467 |   9     468    567  |  137    1367    2

In [25]:
# import sys
# sys.setrecursionlimit(1500)

In [2]:
df = pd.read_csv('../Omega2020/data/dataset.csv').drop('Unnamed: 0', axis=1)
df.head()

,Id,Sudoku,Solution,Level,People,Average-Time
0,0,8...74...1.........7.5.9.4....65.4..73.....296...,8591742361648325973725698412916574837354186296...,Diabolical,254,25
1,1,.5.....7.9......6...21.75.8.4..69.3...8...4......,8539461729175823644621375981458692376283754197...,Moderate,281,12
2,2,...45.2..3.........8....4..7...94.3.9..5.2.76....,6974532183248617955819274637186945329435128762...,Diabolical,265,22
3,3,9......31.3...8.....5.7.9..3...4...8.916..54.4...,9274568316341982758153729643527496187916835424...,Tough,279,19
4,4,9.......2784.1.5.....4.....2.53.1.7...7...8......,9615387427846125395234796182953814761479568236...,Moderate,301,14

In [15]:
df['Sudoku'][0]

'8...74...1.........7.5.9.4....65.4..73.....296.8.......2.3.1.5.........8...9....2'

In [260]:
#solve(df['Sudoku'][0])
solve_technique(df['Sudoku'][0],'single_position')

('Not solved',
 {'A1': '8',
  'A2': '569',
  'A3': '23569',
  'A4': '12',
  'A5': '7',
  'A6': '4',
  'A7': '123569',
  'A8': '1369',
  'A9': '1356',
  'B1': '1',
  'B2': '4569',
  'B3': '234569',
  'B4': '28',
  'B5': '2368',
  'B6': '236',
  'B7': '2356789',
  'B8': '36789',
  'B9': '3567',
  'C1': '23',
  'C2': '7',
  'C3': '236',
  'C4': '5',
  'C5': '12368',
  'C6': '9',
  'C7': '12368',
  'C8': '4',
  'C9': '136',
  'D1': '29',
  'D2': '19',
  'D3': '129',
  'D4': '6',
  'D5': '5',
  'D6': '237',
  'D7': '4',
  'D8': '1378',
  'D9': '137',
  'E1': '7',
  'E2': '3',
  'E3': '145',
  'E4': '14',
  'E5': '14',
  'E6': '8',
  'E7': '156',
  'E8': '2',
  'E9': '9',
  'F1': '6',
  'F2': '1459',
  'F3': '8',
  'F4': '1247',
  'F5': '12349',
  'F6': '237',
  'F7': '1357',
  'F8': '137',
  'F9': '1357',
  'G1': '49',
  'G2': '2',
  'G3': '4679',
  'G4': '3',
  'G5': '468',
  'G6': '1',
  'G7': '679',
  'G8': '5',
  'G9': '467',
  'H1': '3459',
  'H2': '14569',
  'H3': '1345679',
  'H4': '247',
  'H5': '246',
  'H6': '2567',
  'H7': '13679',
  'H8': '13679',
  'H9': '8',
  'I1': '345',
  'I2': '14568',
  'I3': '134567',
  'I4': '9',
  'I5': '468',
  'I6': '567',
  'I7': '1367',
  'I8': '1367',
  'I9': '2'},
 'Number of iterations made: 2')

In [261]:
solve_technique(df['Sudoku'][0],'single_candidate')

('Not solved',
 {'A1': '8',
  'A2': '56',
  'A3': '9',
  'A4': '12',
  'A5': '7',
  'A6': '4',
  'A7': '1235',
  'A8': '136',
  'A9': '1356',
  'B1': '1',
  'B2': '56',
  'B3': '4',
  'B4': '8',
  'B5': '3',
  'B6': '26',
  'B7': '259',
  'B8': '679',
  'B9': '567',
  'C1': '3',
  'C2': '7',
  'C3': '2',
  'C4': '5',
  'C5': '16',
  'C6': '9',
  'C7': '8',
  'C8': '4',
  'C9': '16',
  'D1': '2',
  'D2': '9',
  'D3': '1',
  'D4': '6',
  'D5': '5',
  'D6': '37',
  'D7': '4',
  'D8': '8',
  'D9': '37',
  'E1': '7',
  'E2': '3',
  'E3': '5',
  'E4': '14',
  'E5': '14',
  'E6': '8',
  'E7': '6',
  'E8': '2',
  'E9': '9',
  'F1': '6',
  'F2': '4',
  'F3': '8',
  'F4': '127',
  'F5': '9',
  'F6': '237',
  'F7': '135',
  'F8': '137',
  'F9': '1357',
  'G1': '9',
  'G2': '2',
  'G3': '6',
  'G4': '3',
  'G5': '8',
  'G6': '1',
  'G7': '7',
  'G8': '5',
  'G9': '4',
  'H1': '45',
  'H2': '1',
  'H3': '37',
  'H4': '47',
  'H5': '2',
  'H6': '567',
  'H7': '39',
  'H8': '369',
  'H9': '8',
  'I1': '45',
  'I2': '8',
  'I3': '37',
  'I4': '9',
  'I5': '46',
  'I6': '567',
  'I7': '13',
  'I8': '136',
  'I9': '2'},
 'Number of iterations made: 8')

In [262]:
solve_technique(df['Sudoku'][0],'naked_twins')

('Not solved',
 {'A1': '8',
  'A2': '569',
  'A3': '2369',
  'A4': '12',
  'A5': '7',
  'A6': '4',
  'A7': '12359',
  'A8': '1369',
  'A9': '1356',
  'B1': '1',
  'B2': '4569',
  'B3': '23469',
  'B4': '28',
  'B5': '2368',
  'B6': '236',
  'B7': '235789',
  'B8': '36789',
  'B9': '3567',
  'C1': '23',
  'C2': '7',
  'C3': '236',
  'C4': '5',
  'C5': '12368',
  'C6': '9',
  'C7': '1238',
  'C8': '4',
  'C9': '136',
  'D1': '29',
  'D2': '19',
  'D3': '129',
  'D4': '6',
  'D5': '5',
  'D6': '237',
  'D7': '4',
  'D8': '1378',
  'D9': '137',
  'E1': '7',
  'E2': '3',
  'E3': '5',
  'E4': '14',
  'E5': '14',
  'E6': '8',
  'E7': '6',
  'E8': '2',
  'E9': '9',
  'F1': '6',
  'F2': '149',
  'F3': '8',
  'F4': '27',
  'F5': '239',
  'F6': '237',
  'F7': '1357',
  'F8': '137',
  'F9': '1357',
  'G1': '49',
  'G2': '2',
  'G3': '4679',
  'G4': '3',
  'G5': '468',
  'G6': '1',
  'G7': '79',
  'G8': '5',
  'G9': '467',
  'H1': '3459',
  'H2': '14569',
  'H3': '134679',
  'H4': '247',
  'H5': '246',
  'H6': '2567',
  'H7': '1379',
  'H8': '13679',
  'H9': '8',
  'I1': '345',
  'I2': '14568',
  'I3': '13467',
  'I4': '9',
  'I5': '468',
  'I6': '567',
  'I7': '137',
  'I8': '1367',
  'I9': '2'},
 'Number of iterations made: 4')

In [263]:
solve(df['Sudoku'][0])

('Solved',
 '859174236164832597372569841291657483735418629648293175926381754413725968587946312',
 {'A1': '8',
  'A2': '5',
  'A3': '9',
  'A4': '1',
  'A5': '7',
  'A6': '4',
  'A7': '2',
  'A8': '3',
  'A9': '6',
  'B1': '1',
  'B2': '6',
  'B3': '4',
  'B4': '8',
  'B5': '3',
  'B6': '2',
  'B7': '5',
  'B8': '9',
  'B9': '7',
  'C1': '3',
  'C2': '7',
  'C3': '2',
  'C4': '5',
  'C5': '6',
  'C6': '9',
  'C7': '8',
  'C8': '4',
  'C9': '1',
  'D1': '2',
  'D2': '9',
  'D3': '1',
  'D4': '6',
  'D5': '5',
  'D6': '7',
  'D7': '4',
  'D8': '8',
  'D9': '3',
  'E1': '7',
  'E2': '3',
  'E3': '5',
  'E4': '4',
  'E5': '1',
  'E6': '8',
  'E7': '6',
  'E8': '2',
  'E9': '9',
  'F1': '6',
  'F2': '4',
  'F3': '8',
  'F4': '2',
  'F5': '9',
  'F6': '3',
  'F7': '1',
  'F8': '7',
  'F9': '5',
  'G1': '9',
  'G2': '2',
  'G3': '6',
  'G4': '3',
  'G5': '8',
  'G6': '1',
  'G7': '7',
  'G8': '5',
  'G9': '4',
  'H1': '4',
  'H2': '1',
  'H3': '3',
  'H4': '7',
  'H5': '2',
  'H6': '5',
  'H7': '9',
  'H8': '6',
  'H9': '8',
  'I1': '5',
  'I2': '8',
  'I3': '7',
  'I4': '9',
  'I5': '4',
  'I6': '6',
  'I7': '3',
  'I8': '1',
  'I9': '2'},
 {'A1': '8',
  'A2': '.',
  'A3': '.',
  'A4': '.',
  'A5': '7',
  'A6': '4',
  'A7': '.',
  'A8': '.',
  'A9': '.',
  'B1': '1',
  'B2': '.',
  'B3': '.',
  'B4': '.',
  'B5': '.',
  'B6': '.',
  'B7': '.',
  'B8': '.',
  'B9': '.',
  'C1': '.',
  'C2': '7',
  'C3': '.',
  'C4': '5',
  'C5': '.',
  'C6': '9',
  'C7': '.',
  'C8': '4',
  'C9': '.',
  'D1': '.',
  'D2': '.',
  'D3': '.',
  'D4': '6',
  'D5': '5',
  'D6': '.',
  'D7': '4',
  'D8': '.',
  'D9': '.',
  'E1': '7',
  'E2': '3',
  'E3': '.',
  'E4': '.',
  'E5': '.',
  'E6': '.',
  'E7': '.',
  'E8': '2',
  'E9': '9',
  'F1': '6',
  'F2': '.',
  'F3': '8',
  'F4': '.',
  'F5': '.',
  'F6': '.',
  'F7': '.',
  'F8': '.',
  'F9': '.',
  'G1': '.',
  'G2': '2',
  'G3': '.',
  'G4': '3',
  'G5': '.',
  'G6': '1',
  'G7': '.',
  'G8': '5',
  'G9': '.',
  'H1': '.',
  'H2': '.',
  'H3': '.',
  'H4': '.',
  'H5': '.',
  'H6': '.',
  'H7': '.',
  'H8': '.',
  'H9': '8',
  'I1': '.',
  'I2': '.',
  'I3': '.',
  'I4': '9',
  'I5': '.',
  'I6': '.',
  'I7': '.',
  'I8': '.',
  'I9': '2'})

In [4]:
import json
a =solve(df['Sudoku'][0])[1]

In [9]:
"".join([value if len(value) == 1 else "." for value in a.values()])

'859174236164832597372569841291657483735418629648293175926381754413725968587946312'

In [50]:
# rows = 'ABCDEFGHI'
# cols = '123456789'
# boxes = [s+t for s in rows for t in cols]

# def display(values):
#     """
#     Display the values as a 2-D grid.
#     Input: The sudoku in dictionary form
#     Output: None
#     """
#     width = 1+max(len(values[s]) for s in boxes)
#     line = '+'.join(['-'*(width*3)]*3)
#     for r in rows:
#         print(''.join(values[r+c].center(width)+('|' if c in '36' else '')
#                       for c in cols))
#         if r in 'CF': print(line)
#     print

In [11]:
display(a)

8 5 9 |1 7 4 |2 3 6
1 6 4 |8 3 2 |5 9 7
3 7 2 |5 6 9 |8 4 1
------+------+------
2 9 1 |6 5 7 |4 8 3
7 3 5 |4 1 8 |6 2 9
6 4 8 |2 9 3 |1 7 5
------+------+------
9 2 6 |3 8 1 |7 5 4
4 1 3 |7 2 5 |9 6 8
5 8 7 |9 4 6 |3 1 2

In [3]:
df['Solved_single_position'] = df['Sudoku'].apply(lambda x: solve_technique(x, 'single_position')[0])

In [5]:
df['Solved_single_position'].value_counts()

Not solved    4813
Solved         216
Name: Solved_single_position, dtype: int64

In [6]:
df['Solved_single_candidate'] = df['Sudoku'].apply(lambda x: solve_technique(x, 'single_candidate')[0])

In [7]:
df['Solved_single_candidate'].value_counts()

Solved        2786
Not solved    2243
Name: Solved_single_candidate, dtype: int64

In [8]:
df['Solved_naked_twins']= df['Sudoku'].apply(lambda x: solve_technique(x, 'naked_twins')[0])

In [9]:
df['Solved_naked_twins'].value_counts()

Not solved    3658
Solved        1371
Name: Solved_naked_twins, dtype: int64

In [10]:
df['Solved_naked_triple']= df['Sudoku'].apply(lambda x: solve_technique(x, 'naked_triple')[0])

In [11]:
df['Solved_naked_triple'].value_counts()

Not solved    4790
Solved         239
Name: Solved_naked_triple, dtype: int64

In [12]:
df[(df['Solved_naked_triple']=='Solved')& (df['Solved_single_position']=='Not solved')]

,Id,Sudoku,Solution,Level,People,Average-Time,Solved_single_position,Solved_single_candidate,Solved_naked_twins,Solved_naked_triple
319,319,..49..1....2...7.53.6..5.9....14......75.68......,5749831628924617353162754986381475294275968139...,Moderate,326,14,Not solved,Solved,Solved,Solved
550,550,...6......53......6.2....59...98.....895.47.3....,9186254374538796216723418593679821452895147635...,Moderate,332,16,Not solved,Solved,Solved,Solved
596,596,.4.....5...9.81....6.7...9..3....5..2..6.5..1....,3482691577295816345617342989361785422746953818...,Moderate,333,16,Not solved,Solved,Solved,Solved
750,750,......1...6.3219...2..7..84...7....5..7.3.6..5...,9738541624683219571256793846317984252471356985...,Moderate,341,15,Not solved,Solved,Not solved,Solved
754,754,..7...6....1..2...6...5..1..54..1.9.9.......1....,5379146828916725436423589173547218969784652311...,Moderate,351,16,Not solved,Solved,Not solved,Solved
762,762,3........6.59.2..7.1....4...342...8.1..5.6..2....,3278641596459128378197534269342716851785963422...,Gentle,367,12,Not solved,Solved,Solved,Solved
855,855,.9...5.3...3...5.9..7.2....5.29....6.1.....9.6...,2964857318431765291573298645829314767146583926...,Moderate,347,14,Not solved,Solved,Solved,Solved
1082,1082,48.....72.............61.5.2.......8.1.4.2.9.3...,4863951725317249867298614532479135686184523973...,Moderate,358,17,Not solved,Solved,Solved,Solved
1401,1401,83.......59.....36..6.81..2...6......6.1.9.7.....,8329651475912748364763815927856432192631594789...,Moderate,394,15,Not solved,Solved,Not solved,Solved
1923,1923,.......4.39.1.8..2.2........5..73.9..14.5..7.....,5863291473971485624217658396584732919146523787...,Moderate,501,15,Not solved,Solved,Solved,Solved
2237,2237,.....7..385......2....8...5.8.91..2...3.5.8......,1925674838543916727362849155879163246437528912...,Moderate,556,13,Not solved,Solved,Solved,Solved
2315,2315,74.....3..59678.......5..9.........34.13.65.88...,7469128353596782142184537965927814634713965288...,Moderate,557,12,Not solved,Solved,Solved,Solved
2342,2342,.3...5.6.........39.8..7.25....3.5.1...9.2...6...,1328957647562148939483671252796385413149526876...,Moderate,563,15,Not solved,Solved,Not solved,Solved
2344,2344,..6...3......85.673...2.5..7.4.1...5....6....5...,2564973814913852673876215497249186359135647285...,Gentle,571,11,Not solved,Solved,Solved,Solved
2589,2589,..17.4.353...62.7..........6...2.7.3..2...6..4...,8617942353541628799278354166194287535329716484...,Gentle,628,14,Not solved,Solved,Not solved,Solved
2708,2708,.........9...6...52419.5.7.6.8.7.....94...83.....,3567481299872613452419356786281735947945268311...,Gentle,686,12,Not solved,Solved,Solved,Solved
2979,2979,169.......8.4.....5.3...6.9.2...9......152.......,1695372482874965135432186797218693548341529679...,Moderate,725,16,Not solved,Solved,Solved,Solved
3308,3308,...6.2.3...8...5...3..7..14.5....49...64.53......,5476128391683495272395786143517864929764253818...,Gentle,875,14,Not solved,Solved,Solved,Solved
3450,3450,4.8...6.3..763.9....6..........72...9.......5....,4589276131276349583968517426435728919124863757...,Moderate,891,15,Not solved,Solved,Solved,Solved
3744,3744,4..7..9...653...7.....48.3...14.6................,4137529868653194722976485317314968255281376496...,Moderate,1139,16,Not solved,Solved,Solved,Solved
3800,3800,8.......46..8...27...367....8...6.7...67.59......,8175296346938145272543671891859364723267459187...,Moderate,1193,15,Not solved,Solved,Solved,Solved
4132,4132,.2........9...7.4647....1..9...7...2.4.....5.3...,5264139871932875464789651239153784628476293513...,Moderate,1310,17,Not solved,Solved,Solved,Solved
4581,4581,..7...5..6....8..31...5...2.8.7.4.6.57..3..29....,8372195466254789131496537829817243655748361293...,Moderate,1717,15,Not solved,Solved,Solved,Solved

In [18]:
df['Solved']= df['Sudoku'].apply(lambda x: solve(x)[0])

In [19]:
df['Solved'].value_counts()

Solved    5029
Name: Solved, dtype: int64

In [20]:
df.head()

,Id,Sudoku,Solution,Level,People,Average-Time,Solved_single_position,Solved_single_candidate,Solved_naked_twins,Solved
0,0,8...74...1.........7.5.9.4....65.4..73.....296...,8591742361648325973725698412916574837354186296...,Diabolical,254,25,Not solved,Not solved,Not solved,Solved
1,1,.5.....7.9......6...21.75.8.4..69.3...8...4......,8539461729175823644621375981458692376283754197...,Moderate,281,12,Not solved,Not solved,Not solved,Solved
2,2,...45.2..3.........8....4..7...94.3.9..5.2.76....,6974532183248617955819274637186945329435128762...,Diabolical,265,22,Not solved,Not solved,Not solved,Solved
3,3,9......31.3...8.....5.7.9..3...4...8.916..54.4...,9274568316341982758153729643527496187916835424...,Tough,279,19,Not solved,Not solved,Not solved,Solved
4,4,9.......2784.1.5.....4.....2.53.1.7...7...8......,9615387427846125395234796182953814761479568236...,Moderate,301,14,Not solved,Not solved,Not solved,Solved

In [21]:
display(solve(df['Sudoku'][0])[1])

8 5 9 |1 7 4 |2 3 6
1 6 4 |8 3 2 |5 9 7
3 7 2 |5 6 9 |8 4 1
------+------+------
2 9 1 |6 5 7 |4 8 3
7 3 5 |4 1 8 |6 2 9
6 4 8 |2 9 3 |1 7 5
------+------+------
9 2 6 |3 8 1 |7 5 4
4 1 3 |7 2 5 |9 6 8
5 8 7 |9 4 6 |3 1 2

In [22]:
display(solve(df['Sudoku'][1])[1])

8 5 3 |9 4 6 |1 7 2
9 1 7 |5 8 2 |3 6 4
4 6 2 |1 3 7 |5 9 8
------+------+------
1 4 5 |8 6 9 |2 3 7
6 2 8 |3 7 5 |4 1 9
7 3 9 |4 2 1 |8 5 6
------+------+------
3 7 1 |2 9 8 |6 4 5
2 9 4 |6 5 3 |7 8 1
5 8 6 |7 1 4 |9 2 3

In [23]:
df['Sudoku'][1]

'.5.....7.9......6...21.75.8.4..69.3...8...4...3.42..5.3.12.86...9......1.8.....2.'

In [28]:
test='.5.....7.9......6...21.75.8.4..69.3...8...4...3.42..5.3.12.86...9......1.8.....2.'

In [30]:
solve(test)[1]

'853946172917582364462137598145869237628375419739421856371298645294653781586714923'

In [34]:
a=solve(test)[1]

In [35]:
display(a)

8 5 3 |9 4 6 |1 7 2
9 1 7 |5 8 2 |3 6 4
4 6 2 |1 3 7 |5 9 8
------+------+------
1 4 5 |8 6 9 |2 3 7
6 2 8 |3 7 5 |4 1 9
7 3 9 |4 2 1 |8 5 6
------+------+------
3 7 1 |2 9 8 |6 4 5
2 9 4 |6 5 3 |7 8 1
5 8 6 |7 1 4 |9 2 3

In [65]:
df['Sudoku'][4]
#test2 = '.5.....7.9......6...21.75.8.4..69.3...8...4...3.42..5.3.12.86...9......1.8.....2.'
test2='9.......2784.1.5.....4.....2.53.1.7...7...8...3.2.79.1.....3.....2.6.1958.......4'

In [70]:
rows = 'ABCDEFGHI'
cols = '123456789'

boxes = [s+t for s in rows for t in cols]
row_units = [[s+t for s in r for t in cols] for r in rows]
column_units = [[s+t for s in rows for t in c] for c in cols]
square_units = [[s+t for s in rs for t in cs]for rs in ('ABC','DEF','GHI') for cs in ('123','456','789')]
unitlist = row_units + column_units + square_units
units = dict((s, [u for u in unitlist if s in u]) for s in boxes)
peers = dict((s, set(sum(units[s],[]))-set([s])) for s in boxes)
valuesg = dict(zip(boxes,["." if element == "." else element for element in test3]))

In [73]:
values = solve_technique(test3,"naked_twins")[1]
for unit in unitlist:
    twins = [v for v in [values[box] for box in unit] if [values[box] for box in unit].count(v) == 2 and len(v) == 2]
    print(twins)

[]
[]
[]
[]
['14', '14']
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
['14', '14']
[]
[]
[]
[]

In [75]:
display(values)

   8     569    2369 |   12     7      4   | 12359   1369   1356
   1     4569  23469 |   28    2368   236  | 235789 36789   3567
   23     7     236  |   5    12368    9   |  1238    4     136
---------------------+---------------------+---------------------
   29     19    129  |   6      5     237  |   4     1378   137
   7      3      5   |   14     14     8   |   6      2      9
   6     149     8   |   27    239    237  |  1357   137    1357
---------------------+---------------------+---------------------
   49     2     4679 |   3     468     1   |   79     5     467
  3459  14569  134679|  247    246    2567 |  1379  13679    8
  345   14568  13467 |   9     468    567  |  137    1367    2

In [124]:
parejas=[]
for box in boxes:
    if len(values[box]) is 2:
        parejas.append(box)
print(parejas)

['A4', 'B4', 'C1', 'D1', 'D2', 'E4', 'E5', 'F4', 'G1', 'G7']

In [95]:
for column in column_units:
    if 'A4' in column:
        print(column)

['A4', 'B4', 'C4', 'D4', 'E4', 'F4', 'G4', 'H4', 'I4']

In [3]:
# len(validator(valuesg))
solve(test2)

('Ivalid Sudoku, check these values:', [False, '2', 'I9'])

In [203]:
display(values)

. 5 5 |. . . |. 7 .
9 . . |. . . |. 6 .
. . 2 |1 . 7 |5 . 8
------+------+------
. 4 . |. 6 9 |. 3 .
. . 8 |. . . |4 . .
. 3 . |4 2 . |. 5 .
------+------+------
3 . 1 |2 . 8 |6 . .
. 9 . |. . . |. . 1
. 8 . |. . . |. 2 .

In [59]:
# def checker(grid):
    
#     rows = 'ABCDEFGHI'
#     cols = '123456789'

#     boxes = [s+t for s in rows for t in cols]
#     values_grid = dict(zip(boxes, ["." if element == "." else element for element in grid]))
#     row_units = [[s+t for s in r for t in cols] for r in rows]
#     column_units = [[s+t for s in rows for t in c] for c in cols]
#     square_units = [[s+t for s in rs for t in cs]for rs in ('ABC','DEF','GHI') for cs in ('123','456','789')]
#     unitlist = row_units + column_units + square_units
#     units = dict((s, [u for u in unitlist if s in u]) for s in boxes)
#     peers = dict((s, set(sum(units[s],[]))-set([s])) for s in boxes)
    
# #     print(values_grid.keys())
# #     print('hiiiiiiiii',row_units)
#     if 'A1' in row_units:
#         print(row_units)

# #     for a in values_grid.values():
# #         if a == '.':
# #             print('no')
# #         else:
# #             if a in values_grid[a]:
# #                 print('yes')

In [34]:
def split(element): 
    return [char for char in element]  

def transform_matrix(element):
  return np.reshape(split(element), (-1, 9))

In [48]:
transform_matrix(test_wrong)

array([['.', '5', '.', '.', '.', '.', '.', '7', '.'],
       ['9', '.', '.', '.', '.', '.', '.', '6', '.'],
       ['.', '.', '2', '1', '.', '7', '5', '.', '8'],
       ['.', '4', '.', '.', '6', '9', '.', '3', '.'],
       ['.', '.', '8', '.', '.', '.', '4', '.', '.'],
       ['.', '3', '.', '4', '2', '.', '.', '5', '.'],
       ['3', '.', '1', '2', '.', '8', '6', '.', '.'],
       ['.', '9', '.', '.', '.', '.', '.', '.', '1'],
       ['.', '8', '.', '.', '.', '.', '.', '2', '.']], dtype='<U1')

In [35]:
transform_matrix(test2)

array([['.', '5', '.', '.', '.', '.', '.', '7', '.'],
       ['9', '.', '.', '.', '.', '.', '.', '6', '.'],
       ['.', '.', '2', '1', '.', '7', '5', '.', '8'],
       ['.', '4', '.', '.', '6', '9', '.', '3', '.'],
       ['.', '.', '8', '.', '.', '.', '4', '.', '.'],
       ['.', '3', '.', '4', '2', '.', '.', '5', '.'],
       ['3', '.', '1', '2', '.', '8', '6', '.', '.'],
       ['.', '9', '.', '.', '.', '.', '.', '.', '1'],
       ['.', '8', '.', '.', '.', '.', '.', '2', '.']], dtype='<U1')