In [1]:
from main import *
from ai import *
import pandas as pd
import numpy as np

#### Test Solver

In [2]:
df = pd.read_csv('../Omega2020/data/dataset.csv').drop('Unnamed: 0', axis=1)
df.head()

,Id,Sudoku,Solution,Level,People,Average-Time
0,0,8...74...1.........7.5.9.4....65.4..73.....296...,8591742361648325973725698412916574837354186296...,Diabolical,254,25
1,1,.5.....7.9......6...21.75.8.4..69.3...8...4......,8539461729175823644621375981458692376283754197...,Moderate,281,12
2,2,...45.2..3.........8....4..7...94.3.9..5.2.76....,6974532183248617955819274637186945329435128762...,Diabolical,265,22
3,3,9......31.3...8.....5.7.9..3...4...8.916..54.4...,9274568316341982758153729643527496187916835424...,Tough,279,19
4,4,9.......2784.1.5.....4.....2.53.1.7...7...8......,9615387427846125395234796182953814761479568236...,Moderate,301,14

In [3]:
df['Sudoku'][0]

'8...74...1.........7.5.9.4....65.4..73.....296.8.......2.3.1.5.........8...9....2'

In [4]:
solve(df['Sudoku'][0])

(3,
 '859174236164832597372569841291657483735418629648293175926381754413725968587946312',
 {'A1': '8',
  'A2': '5',
  'A3': '9',
  'A4': '1',
  'A5': '7',
  'A6': '4',
  'A7': '2',
  'A8': '3',
  'A9': '6',
  'B1': '1',
  'B2': '6',
  'B3': '4',
  'B4': '8',
  'B5': '3',
  'B6': '2',
  'B7': '5',
  'B8': '9',
  'B9': '7',
  'C1': '3',
  'C2': '7',
  'C3': '2',
  'C4': '5',
  'C5': '6',
  'C6': '9',
  'C7': '8',
  'C8': '4',
  'C9': '1',
  'D1': '2',
  'D2': '9',
  'D3': '1',
  'D4': '6',
  'D5': '5',
  'D6': '7',
  'D7': '4',
  'D8': '8',
  'D9': '3',
  'E1': '7',
  'E2': '3',
  'E3': '5',
  'E4': '4',
  'E5': '1',
  'E6': '8',
  'E7': '6',
  'E8': '2',
  'E9': '9',
  'F1': '6',
  'F2': '4',
  'F3': '8',
  'F4': '2',
  'F5': '9',
  'F6': '3',
  'F7': '1',
  'F8': '7',
  'F9': '5',
  'G1': '9',
  'G2': '2',
  'G3': '6',
  'G4': '3',
  'G5': '8',
  'G6': '1',
  'G7': '7',
  'G8': '5',
  'G9': '4',
  'H1': '4',
  'H2': '1',
  'H3': '3',
  'H4': '7',
  'H5': '2',
  'H6': '5',
  'H7': '9',
  'H8': '6',
  'H9': '8',
  'I1': '5',
  'I2': '8',
  'I3': '7',
  'I4': '9',
  'I5': '4',
  'I6': '6',
  'I7': '3',
  'I8': '1',
  'I9': '2'},
 {'A1': '8',
  'A2': '.',
  'A3': '.',
  'A4': '.',
  'A5': '7',
  'A6': '4',
  'A7': '.',
  'A8': '.',
  'A9': '.',
  'B1': '1',
  'B2': '.',
  'B3': '.',
  'B4': '.',
  'B5': '.',
  'B6': '.',
  'B7': '.',
  'B8': '.',
  'B9': '.',
  'C1': '.',
  'C2': '7',
  'C3': '.',
  'C4': '5',
  'C5': '.',
  'C6': '9',
  'C7': '.',
  'C8': '4',
  'C9': '.',
  'D1': '.',
  'D2': '.',
  'D3': '.',
  'D4': '6',
  'D5': '5',
  'D6': '.',
  'D7': '4',
  'D8': '.',
  'D9': '.',
  'E1': '7',
  'E2': '3',
  'E3': '.',
  'E4': '.',
  'E5': '.',
  'E6': '.',
  'E7': '.',
  'E8': '2',
  'E9': '9',
  'F1': '6',
  'F2': '.',
  'F3': '8',
  'F4': '.',
  'F5': '.',
  'F6': '.',
  'F7': '.',
  'F8': '.',
  'F9': '.',
  'G1': '.',
  'G2': '2',
  'G3': '.',
  'G4': '3',
  'G5': '.',
  'G6': '1',
  'G7': '.',
  'G8': '5',
  'G9': '.',
  'H1': '.',
  'H2': '.',
  'H3': '.',
  'H4': '.',
  'H5': '.',
  'H6': '.',
  'H7': '.',
  'H8': '.',
  'H9': '8',
  'I1': '.',
  'I2': '.',
  'I3': '.',
  'I4': '9',
  'I5': '.',
  'I6': '.',
  'I7': '.',
  'I8': '.',
  'I9': '2'})

In [5]:
import json
a =solve(df['Sudoku'][0])[2]

In [6]:
"".join([value if len(value) == 1 else "." for value in a.values()])

'859174236164832597372569841291657483735418629648293175926381754413725968587946312'

In [7]:
display(a)

8 5 9 |1 7 4 |2 3 6
1 6 4 |8 3 2 |5 9 7
3 7 2 |5 6 9 |8 4 1
------+------+------
2 9 1 |6 5 7 |4 8 3
7 3 5 |4 1 8 |6 2 9
6 4 8 |2 9 3 |1 7 5
------+------+------
9 2 6 |3 8 1 |7 5 4
4 1 3 |7 2 5 |9 6 8
5 8 7 |9 4 6 |3 1 2

In [8]:
test1 = '88..74...1.........7.5.9.4....65.4..73.....296.8.......2.3.1.5.........8...9....2'
test2 = '.5.....7.9......6...21.75.8.4..69.3...8...4...3.42..5.3.12.86...9......1.8.....2.'
test3 = '8...74...1.........7.5.9.4....65.4..73.....296.8.......2.3.1.5.........8...9....2'
test_triple = '...29438....17864.48.3561....48375.1...4157..5..629834953782416126543978.4.961253'
test_triple2='4..5..37.32......4.........8....2.3.21.84...........9..7..9.1..94.651.......7....'
test_triple3='39....7........65.5.7...349.4938.5.66.1.54983853...4..9..8..134..294.8654.....297'
test_rob='...2....58....9..4...18..2.3.....5.95......7..6.....4.........6..1.3498.92.85...3'
names_tests= ['test2','test3','test_triple','test_triple2','test_triple3','test_rob']
tests= [test2,test3,test_triple,test_triple2,test_triple3,test_rob]
# tests= [test2,test3,test_triple,test_triple3,test_rob]

In [9]:
# solve_technique(test2, 'single_candidate')

In [10]:
def transf(values):
    return("".join([value if len(value) == 1 else "." for value in values.values()]))

In [45]:
def reduce2(values):
    solved_values = [box for box in values.keys() if len(values[box]) == 1]
    single = 0
    candidate = 0
    twins = 0
    triples = 0
    stalled = False
    while not stalled:
        solved_values_before = len([box for box in values.keys() if len(values[box]) == 1])
        valuesb = transf(values.copy())
        values = single_position(values)
        if valuesb != transf(values):
            single += 1
            valuesb = transf(values.copy())
        values = single_candidate(values)
        if transf(values)!=valuesb:
            candidate += 1
            valuesb = transf(values.copy())
        values = naked_twins(values)
        if transf(values)!=valuesb:
            twins += 1
            valuesb = transf(values.copy())
        values = naked_triple(values)
        if transf(values)!=valuesb:
            triples += 1
            valuesb = transf(values.copy())
        solved_values_after = len([box for box in values.keys() if len(values[box]) == 1])
        stalled = solved_values_before == solved_values_after
        if len([box for box in values.keys() if len(values[box]) == 0]):
            answer=False
    return(values, single, candidate, twins, triples)

In [55]:
def tracker(values):
    solved_values = [box for box in values.keys() if len(values[box]) == 1]
    single = 0
    candidate = 0
    twins = 0
    triples = 0
    stalled = False
    while not stalled:
        solved_values_before = len([box for box in values.keys() if len(values[box]) == 1])
        valuesb = transf(values.copy())
        values = single_position(values)
        if valuesb != transf(values):
            single += 1
            valuesb = transf(values.copy())
        values = single_candidate(values)
        if transf(values)!=valuesb:
            candidate += 1
            valuesb = transf(values.copy())
        values = naked_twins(values)
        if transf(values)!=valuesb:
            twins += 1
            valuesb = transf(values.copy())
        values = naked_triple(values)
        if transf(values)!=valuesb:
            triples += 1
            valuesb = transf(values.copy())
        solved_values_after = len([box for box in values.keys() if len(values[box]) == 1])
        stalled = solved_values_before == solved_values_after
        if len([box for box in values.keys() if len(values[box]) == 0]):
            answer=False
    return(single, candidate, twins, triples)

In [47]:
def conv_values(grid):
    return dict(zip(boxes, ["123456789" if element == "." else element for element in grid]))
# reduce2(values_test)

In [58]:
def search2(values):
    "Using depth-first search and propagation, try all possible values."
    # First, reduce the puzzle using the previous function
    values, a, b, c, d = reduce2(values)
#     single = single.append(a)
#     candidate = candidate.append(b)
#     twins = twins.append(c)
#     triples = triples.append(d)
    if values is False:
        return False ## Failed earlier
    if all(len(values[s]) == 1 for s in boxes): 
        return (values,a, b, c, d) ## Solved!
    n,s = min((len(values[s]), s) for s in boxes if len(values[s]) > 1)
    for value in values[s]:
        new_sudoku = values.copy()
        new_sudoku[s] = value
        attempt = search(new_sudoku)
        a, b, c, d = tracker(attempt)
        if attempt:
            return attempt, a, b, c, d

In [57]:
tracker(conv_values(test_triple3))
#single, candidate, twins, triples

(9, 8, 0, 1)

In [39]:
for test in tests:
    print(tracker(conv_values(test)))
# tests= [test2,test3,test_triple,test_triple2,test_triple3,test_rob]
#single, candidate, twins, triples

(7, 6, 0, 0)
(4, 5, 1, 0)
(0, 0, 0, 0)
(0, 0, 0, 0)
(9, 8, 0, 1)
(5, 5, 2, 0)

In [59]:
search2(conv_values(test_triple))

({'A1': '6',
  'A2': '1',
  'A3': '5',
  'A4': '2',
  'A5': '9',
  'A6': '4',
  'A7': '3',
  'A8': '8',
  'A9': '7',
  'B1': '3',
  'B2': '9',
  'B3': '2',
  'B4': '1',
  'B5': '7',
  'B6': '8',
  'B7': '6',
  'B8': '4',
  'B9': '5',
  'C1': '4',
  'C2': '8',
  'C3': '7',
  'C4': '3',
  'C5': '5',
  'C6': '6',
  'C7': '1',
  'C8': '2',
  'C9': '9',
  'D1': '2',
  'D2': '6',
  'D3': '4',
  'D4': '8',
  'D5': '3',
  'D6': '7',
  'D7': '5',
  'D8': '9',
  'D9': '1',
  'E1': '8',
  'E2': '3',
  'E3': '9',
  'E4': '4',
  'E5': '1',
  'E6': '5',
  'E7': '7',
  'E8': '6',
  'E9': '2',
  'F1': '5',
  'F2': '7',
  'F3': '1',
  'F4': '6',
  'F5': '2',
  'F6': '9',
  'F7': '8',
  'F8': '3',
  'F9': '4',
  'G1': '9',
  'G2': '5',
  'G3': '3',
  'G4': '7',
  'G5': '8',
  'G6': '2',
  'G7': '4',
  'G8': '1',
  'G9': '6',
  'H1': '1',
  'H2': '2',
  'H3': '6',
  'H4': '5',
  'H5': '4',
  'H6': '3',
  'H7': '9',
  'H8': '7',
  'H9': '8',
  'I1': '7',
  'I2': '4',
  'I3': '8',
  'I4': '9',
  'I5': '6',
  'I6': '1',
  'I7': '2',
  'I8': '5',
  'I9': '3'},
 0,
 0,
 0,
 0)

In [38]:
tracker(conv_values(test_triple))

(0, 0, 0, 0)

In [3]:
test1 = '88..74...11........775.9.4....65.4..73.....296.8.......2.3.1.5.........8...9....2'
# validation = validator(test1)

In [75]:
validation

[[False, '8', 'A1'],
 [False, '8', 'A2'],
 [False, '1', 'B1'],
 [False, '1', 'B2'],
 [False, '7', 'C2'],
 [False, '7', 'C3']]

In [76]:
x= validation.copy()

In [77]:
for element in x :
    element.remove(False)

In [78]:
x

[['8', 'A1'], ['8', 'A2'], ['1', 'B1'], ['1', 'B2'], ['7', 'C2'], ['7', 'C3']]

In [4]:
solve(test1)

(2,
 [[False, '8', 'A1'],
  [False, '8', 'A2'],
  [False, '1', 'B1'],
  [False, '1', 'B2'],
  [False, '7', 'C2'],
  [False, '7', 'C3']])