In [69]:
from ai import Sudoku
import pandas as pd
import numpy as np

In [70]:
df = pd.read_csv('data/dataset.csv').drop('Unnamed: 0', axis=1)
df.head()

,Id,Sudoku,Solution,Level,People,Average-Time
0,0,8...74...1.........7.5.9.4....65.4..73.....296...,8591742361648325973725698412916574837354186296...,Diabolical,254,25
1,1,.5.....7.9......6...21.75.8.4..69.3...8...4......,8539461729175823644621375981458692376283754197...,Moderate,281,12
2,2,...45.2..3.........8....4..7...94.3.9..5.2.76....,6974532183248617955819274637186945329435128762...,Diabolical,265,22
3,3,9......31.3...8.....5.7.9..3...4...8.916..54.4...,9274568316341982758153729643527496187916835424...,Tough,279,19
4,4,9.......2784.1.5.....4.....2.53.1.7...7...8......,9615387427846125395234796182953814761479568236...,Moderate,301,14

In [72]:
df['Solved_single_position'] = df['Sudoku'].apply(lambda x: Sudoku(x, 'single_position').solve()[0])
df['Solved_single_candidate'] = df['Sudoku'].apply(lambda x: Sudoku(x, 'single_candidate').solve()[0])

In [73]:
df.head()

,Id,Sudoku,Solution,Level,People,Average-Time,Solved_single_position,Solved_single_candidate
0,0,8...74...1.........7.5.9.4....65.4..73.....296...,8591742361648325973725698412916574837354186296...,Diabolical,254,25,Not solved,Not solved
1,1,.5.....7.9......6...21.75.8.4..69.3...8...4......,8539461729175823644621375981458692376283754197...,Moderate,281,12,Not solved,Not solved
2,2,...45.2..3.........8....4..7...94.3.9..5.2.76....,6974532183248617955819274637186945329435128762...,Diabolical,265,22,Not solved,Not solved
3,3,9......31.3...8.....5.7.9..3...4...8.916..54.4...,9274568316341982758153729643527496187916835424...,Tough,279,19,Not solved,Not solved
4,4,9.......2784.1.5.....4.....2.53.1.7...7...8......,9615387427846125395234796182953814761479568236...,Moderate,301,14,Not solved,Not solved

In [74]:
df['Solved_single_position'].value_counts()

Not solved    4813
Solved         216
Name: Solved_single_position, dtype: int64

In [75]:
df['Solved_single_candidate'].value_counts()

Not solved    4813
Solved         216
Name: Solved_single_candidate, dtype: int64

In [76]:
solved_position = df[df['Solved_single_position']=='Solved']['Level'].value_counts()
print(solved_position)

Gentle      214
Moderate      2
Name: Level, dtype: int64

In [77]:
solved_candidate = df[df['Solved_single_candidate']=='Solved']['Level'].value_counts()
print(solved_candidate)

Gentle      214
Moderate      2
Name: Level, dtype: int64

In [78]:
# answer, new, recursions  = Sudoku(df['Sudoku'][0], 'single_position').solve()

In [79]:
# convert = "".join([value if len(value) == 1 else "." for value in new.values()])

In [80]:
# print(new)
# print(convert)

In [81]:
df['Sudoku'].iloc[13]

'..7..34....17528......8.....4.5...3.1.2...5.8.5...8.1.....3......68912....82..6..'

In [82]:
df['Sudoku'].iloc[4686]

'.48....7...........732.651.7..4.5...3...7...8...8.3..5.541.736...........1....25.'

In [83]:
# df['answer'], df['sudoku2'], df['iterations'] = df['Sudoku'].apply(lambda x: Sudoku(x,'single_candidate').solve())