In [1]:
from solver import SudokuMain
from ai import Sudoku
import pandas as pd
import numpy as np

In [2]:
# import sys
# sys.setrecursionlimit(15000)

In [2]:
df = pd.read_csv('data/dataset.csv').drop('Unnamed: 0', axis=1)
df.head()

,Id,Sudoku,Solution,Level,People,Average-Time
0,0,8...74...1.........7.5.9.4....65.4..73.....296...,8591742361648325973725698412916574837354186296...,Diabolical,254,25
1,1,.5.....7.9......6...21.75.8.4..69.3...8...4......,8539461729175823644621375981458692376283754197...,Moderate,281,12
2,2,...45.2..3.........8....4..7...94.3.9..5.2.76....,6974532183248617955819274637186945329435128762...,Diabolical,265,22
3,3,9......31.3...8.....5.7.9..3...4...8.916..54.4...,9274568316341982758153729643527496187916835424...,Tough,279,19
4,4,9.......2784.1.5.....4.....2.53.1.7...7...8......,9615387427846125395234796182953814761479568236...,Moderate,301,14

In [3]:
puzzle = Sudoku(df['Sudoku'][0])

NameError: name 'ROW_VALUES' is not defined

In [4]:
solver=SudokuMain()

In [6]:
solver.solve(puzzle)

AttributeError: 'SudokuMain' object has no attribute 'values'

In [4]:
sln.solve() #dictionary entire row - itself

AttributeError: 'Sudoku' object has no attribute 'solve'

In [3]:
df['Solved_single_position'] = df['Sudoku'].apply(lambda x: Sudoku(x, 'single_position').solvebytechnique()[0])

In [4]:
df['Solved_single_position'].value_counts()

Not solved    4813
Solved         216
Name: Solved_single_position, dtype: int64

In [5]:
df['Solved_single_candidate'] = df['Sudoku'].apply(lambda x: Sudoku(x, 'single_candidate').solvebytechnique()[0])

In [6]:
df['Solved_single_candidate'].value_counts()

Solved        2786
Not solved    2243
Name: Solved_single_candidate, dtype: int64

In [7]:
df['Solved_naked_twins']= df['Sudoku'].apply(lambda x: Sudoku(x, 'naked_twins').solvebytechnique()[0])

In [8]:
df['Solved_naked_twins'].value_counts()

Not solved    3658
Solved        1371
Name: Solved_naked_twins, dtype: int64

In [4]:
sln = Sudoku(df['Sudoku'][0])

In [5]:
sln.solve() #dictionary entire row - itself

AttributeError: 'Sudoku' object has no attribute 'solve'

In [ ]:
df['Solved_single_candidate'] = df['Sudoku'].apply(lambda x: Sudoku(x, 'single_candidate').solve()[0])
df['Solved_naked_twins']= df['Sudoku'].apply(lambda x: Sudoku(x, 'naked_twins').solve()[0])

In [ ]:
df['Solved']= df['Sudoku'].apply(lambda x: Sudoku(x,'single_position').search())

In [ ]:
df['Solved']

In [4]:
df['Solved_naked_twins'].value_counts()

Not solved    3679
Solved        1350
Name: Solved_naked_twins, dtype: int64

In [5]:

solved_naked= df[df['Solved_naked_twins']=='Solved']['Level'].value_counts()
print(solved_naked)

Moderate      779
Gentle        490
Tough          79
Diabolical      2
Name: Level, dtype: int64

In [73]:
df.head()

,Id,Sudoku,Solution,Level,People,Average-Time,Solved_single_position,Solved_single_candidate
0,0,8...74...1.........7.5.9.4....65.4..73.....296...,8591742361648325973725698412916574837354186296...,Diabolical,254,25,Not solved,Not solved
1,1,.5.....7.9......6...21.75.8.4..69.3...8...4......,8539461729175823644621375981458692376283754197...,Moderate,281,12,Not solved,Not solved
2,2,...45.2..3.........8....4..7...94.3.9..5.2.76....,6974532183248617955819274637186945329435128762...,Diabolical,265,22,Not solved,Not solved
3,3,9......31.3...8.....5.7.9..3...4...8.916..54.4...,9274568316341982758153729643527496187916835424...,Tough,279,19,Not solved,Not solved
4,4,9.......2784.1.5.....4.....2.53.1.7...7...8......,9615387427846125395234796182953814761479568236...,Moderate,301,14,Not solved,Not solved

In [6]:
df['Solved_single_candidate'].value_counts()

Solved        2786
Not solved    2243
Name: Solved_single_candidate, dtype: int64

In [76]:
solved_position = df[df['Solved_single_position']=='Solved']['Level'].value_counts()
print(solved_position)

Gentle      214
Moderate      2
Name: Level, dtype: int64

In [77]:
solved_candidate = df[df['Solved_single_candidate']=='Solved']['Level'].value_counts()
print(solved_candidate)

Gentle      214
Moderate      2
Name: Level, dtype: int64

In [78]:
# answer, new, recursions  = Sudoku(df['Sudoku'][0], 'single_position').solve()

In [79]:
# convert = "".join([value if len(value) == 1 else "." for value in new.values()])

In [80]:
# print(new)
# print(convert)

In [8]:
df['Sudoku'].iloc[13]

'..7..34....17528......8.....4.5...3.1.2...5.8.5...8.1.....3......68912....82..6..'

In [9]:
df['Sudoku'].iloc[4686]

'.48....7...........732.651.7..4.5...3...7...8...8.3..5.541.736...........1....25.'

In [10]:
df['Solution'].iloc[4686]

'548931672126754893973286514782415936395672148461893725854127369237569481619348257'

In [83]:
# df['answer'], df['sudoku2'], df['iterations'] = df['Sudoku'].apply(lambda x: Sudoku(x,'single_candidate').solve())

In [12]:
a= df['Sudoku'].iloc[4686]

In [14]:
def split(element): 
    return [char for char in element]  

def transform_matrix(element):
  return np.reshape(split(element), (-1, 9))

In [15]:
transform_matrix(a)

array([['.', '4', '8', '.', '.', '.', '.', '7', '.'],
       ['.', '.', '.', '.', '.', '.', '.', '.', '.'],
       ['.', '7', '3', '2', '.', '6', '5', '1', '.'],
       ['7', '.', '.', '4', '.', '5', '.', '.', '.'],
       ['3', '.', '.', '.', '7', '.', '.', '.', '8'],
       ['.', '.', '.', '8', '.', '3', '.', '.', '5'],
       ['.', '5', '4', '1', '.', '7', '3', '6', '.'],
       ['.', '.', '.', '.', '.', '.', '.', '.', '.'],
       ['.', '1', '.', '.', '.', '.', '2', '5', '.']], dtype='<U1')