In [22]:
from ai import Sudoku
import pandas as pd
import numpy as np

In [13]:
df = pd.read_csv('data/dataset.csv').drop('Unnamed: 0', axis=1)
df.head()

,Id,Sudoku,Solution,Level,People,Average-Time
0,0,8...74...1.........7.5.9.4....65.4..73.....296...,8591742361648325973725698412916574837354186296...,Diabolical,254,25
1,1,.5.....7.9......6...21.75.8.4..69.3...8...4......,8539461729175823644621375981458692376283754197...,Moderate,281,12
2,2,...45.2..3.........8....4..7...94.3.9..5.2.76....,6974532183248617955819274637186945329435128762...,Diabolical,265,22
3,3,9......31.3...8.....5.7.9..3...4...8.916..54.4...,9274568316341982758153729643527496187916835424...,Tough,279,19
4,4,9.......2784.1.5.....4.....2.53.1.7...7...8......,9615387427846125395234796182953814761479568236...,Moderate,301,14

In [55]:
df['Solved_single_position'] = df['Sudoku'].apply(lambda x: Sudoku(x, 'single_position').solve()[0])
df['Solved_single candidate'] = df['Sudoku'].apply(lambda x: Sudoku(x, 'single_candidate').solve()[0])

In [56]:
df.head()

,Id,Sudoku,Solution,Level,People,Average-Time,Solved,Solved_single candidate,Solved_single_position
0,0,8...74...1.........7.5.9.4....65.4..73.....296...,8591742361648325973725698412916574837354186296...,Diabolical,254,25,"(Not solved, {'A1': '8', 'A2': '569', 'A3': '2...",Not solved,Not solved
1,1,.5.....7.9......6...21.75.8.4..69.3...8...4......,8539461729175823644621375981458692376283754197...,Moderate,281,12,"(Not solved, {'A1': '8', 'A2': '5', 'A3': '3',...",Not solved,Not solved
2,2,...45.2..3.........8....4..7...94.3.9..5.2.76....,6974532183248617955819274637186945329435128762...,Diabolical,265,22,"(Not solved, {'A1': '16', 'A2': '79', 'A3': '1...",Not solved,Not solved
3,3,9......31.3...8.....5.7.9..3...4...8.916..54.4...,9274568316341982758153729643527496187916835424...,Tough,279,19,"(Not solved, {'A1': '9', 'A2': '2678', 'A3': '...",Not solved,Not solved
4,4,9.......2784.1.5.....4.....2.53.1.7...7...8......,9615387427846125395234796182953814761479568236...,Moderate,301,14,"(Not solved, {'A1': '9', 'A2': '156', 'A3': '1...",Not solved,Not solved

In [59]:
df['Solved_single_position'].value_counts()

Not solved    4813
Solved         216
Name: Solved_single_position, dtype: int64

In [60]:
df['Solved_single candidate'].value_counts()

Not solved    4813
Solved         216
Name: Solved_single candidate, dtype: int64

In [48]:
solved2 = df[df['Solved_single candidate']=='Solved']

In [49]:
solved2['Level'].value_counts()

Gentle      214
Moderate      2
Name: Level, dtype: int64

In [52]:
df[df['Level']=='Gentle'].count()

Id                         718
Sudoku                     718
Solution                   718
Level                      718
People                     718
Average-Time               718
Solved                     718
Solved_single candidate    718
dtype: int64

In [54]:
df['Level'].value_counts()

Moderate      2156
Diabolical    1436
Tough          719
Gentle         718
Name: Level, dtype: int64