In [1]:
from main import *
from ai import *
import pandas as pd
import numpy as np

### Scenarios

In [4]:
test1 = '88..74...1.........7.5.9.4....65.4..73.....296.8.......2.3.1.5.........8...9....2'
test2 = '.5.....7.9......6...21.75.8.4..69.3...8...4...3.42..5.3.12.86...9......1.8.....2.'
test3 = '8...74...1.........7.5.9.4....65.4..73.....296.8.......2.3.1.5.........8...9....2'
test_triple = '...29438....17864.48.3561....48375.1...4157..5..629834953782416126543978.4.961253'
test_triple2='4..5..37.32......4.........8....2.3.21.84...........9..7..9.1..94.651.......7....'
test_triple3='39....7........65.5.7...349.4938.5.66.1.54983853...4..9..8..134..294.8654.....297'
test_rob='...2....58....9..4...18..2.3.....5.95......7..6.....4.........6..1.3498.92.85...3'
names_tests= ['test2','test3','test_triple','test_triple2','test_triple3','test_rob']
tests= [test2,test3,test_triple,test_triple2,test_triple3,test_rob]
# tests= [test2,test3,test_triple,test_triple3,test_rob]

## Testing all the possible scenarios 
##### Except when the puzzle is invalid in the beginning (doesn't follow the Sudoku rules) after loading the image

In [8]:
# Solve
count=0
for test in tests:
    print(names_tests[count]+' :'+"\n",solve(test)[0])
    count+=1

test2 :
 Solved
test3 :
 Solved
test_triple :
 Solved
test_triple2 :
 Solved
test_triple3 :
 Solved
test_rob :
 Invalid Sudoku: Error 404

In [5]:
count=0
for test in tests:
    print(names_tests[count]+' :')
    grid = dict(zip(boxes, ["123456789" if element == "." else element for element in test]))
    count+=1
    print(solve(test)[0]+' \n')
    display(grid)
    display(solve(test)[2])

test2 :
Solved

123456789     5     123456789 |123456789 123456789 123456789 |123456789     7     123456789
    9     123456789 123456789 |123456789 123456789 123456789 |123456789     6     123456789
123456789 123456789     2     |    1     123456789     7     |    5     123456789     8
------------------------------+------------------------------+------------------------------
123456789     4     123456789 |123456789     6         9     |123456789     3     123456789
123456789 123456789     8     |123456789 123456789 123456789 |    4     123456789 123456789
123456789     3     123456789 |    4         2     123456789 |123456789     5     123456789
------------------------------+------------------------------+------------------------------
    3     123456789     1     |    2     123456789     8     |    6     123456789 123456789
123456789     9     123456789 |123456789 123456789 123456789 |123456789 123456789     1
123456789     8     123456789 |123456789 123456789 123456789 |123456789     2     123456789

8 5 3 |9 4 6 |1 7 2
9 1 7 |5 8 2 |3 6 4
4 6 2 |1 3 7 |5 9 8
------+------+------
1 4 5 |8 6 9 |2 3 7
6 2 8 |3 7 5 |4 1 9
7 3 9 |4 2 1 |8 5 6
------+------+------
3 7 1 |2 9 8 |6 4 5
2 9 4 |6 5 3 |7 8 1
5 8 6 |7 1 4 |9 2 3

test3 :
Solved

    8     123456789 123456789 |123456789     7         4     |123456789 123456789 123456789
    1     123456789 123456789 |123456789 123456789 123456789 |123456789 123456789 123456789
123456789     7     123456789 |    5     123456789     9     |123456789     4     123456789
------------------------------+------------------------------+------------------------------
123456789 123456789 123456789 |    6         5     123456789 |    4     123456789 123456789
    7         3     123456789 |123456789 123456789 123456789 |123456789     2         9
    6     123456789     8     |123456789 123456789 123456789 |123456789 123456789 123456789
------------------------------+------------------------------+------------------------------
123456789     2     123456789 |    3     123456789     1     |123456789     5     123456789
123456789 123456789 123456789 |123456789 123456789 123456789 |123456789 123456789     8
123456789 123456789 123456789 |    9     123456789 123456789 |123456789 123456789     2

8 5 9 |1 7 4 |2 3 6
1 6 4 |8 3 2 |5 9 7
3 7 2 |5 6 9 |8 4 1
------+------+------
2 9 1 |6 5 7 |4 8 3
7 3 5 |4 1 8 |6 2 9
6 4 8 |2 9 3 |1 7 5
------+------+------
9 2 6 |3 8 1 |7 5 4
4 1 3 |7 2 5 |9 6 8
5 8 7 |9 4 6 |3 1 2

test_triple :
Solved

123456789 123456789 123456789 |    2         9         4     |    3         8     123456789
123456789 123456789 123456789 |    1         7         8     |    6         4     123456789
    4         8     123456789 |    3         5         6     |    1     123456789 123456789
------------------------------+------------------------------+------------------------------
123456789 123456789     4     |    8         3         7     |    5     123456789     1
123456789 123456789 123456789 |    4         1         5     |    7     123456789 123456789
    5     123456789 123456789 |    6         2         9     |    8         3         4
------------------------------+------------------------------+------------------------------
    9         5         3     |    7         8         2     |    4         1         6
    1         2         6     |    5         4         3     |    9         7         8
123456789     4     123456789 |    9         6         1     |    2         5         3

6 1 5 |2 9 4 |3 8 7
3 9 2 |1 7 8 |6 4 5
4 8 7 |3 5 6 |1 2 9
------+------+------
2 6 4 |8 3 7 |5 9 1
8 3 9 |4 1 5 |7 6 2
5 7 1 |6 2 9 |8 3 4
------+------+------
9 5 3 |7 8 2 |4 1 6
1 2 6 |5 4 3 |9 7 8
7 4 8 |9 6 1 |2 5 3

test_triple2 :
Solved

    4     123456789 123456789 |    5     123456789 123456789 |    3         7     123456789
    3         2     123456789 |123456789 123456789 123456789 |123456789 123456789     4
123456789 123456789 123456789 |123456789 123456789 123456789 |123456789 123456789 123456789
------------------------------+------------------------------+------------------------------
    8     123456789 123456789 |123456789 123456789     2     |123456789     3     123456789
    2         1     123456789 |    8         4     123456789 |123456789 123456789 123456789
123456789 123456789 123456789 |123456789 123456789 123456789 |123456789     9     123456789
------------------------------+------------------------------+------------------------------
123456789     7     123456789 |123456789     9     123456789 |    1     123456789 123456789
    9         4     123456789 |    6         5         1     |123456789 123456789 123456789
123456789 123456789 123456789 |123456789     7     123456789 |123456789 123456789 123456789

4 8 1 |5 2 6 |3 7 9
3 2 5 |9 1 7 |6 8 4
6 9 7 |3 8 4 |2 1 5
------+------+------
8 5 9 |7 6 2 |4 3 1
2 1 3 |8 4 9 |5 6 7
7 6 4 |1 3 5 |8 9 2
------+------+------
5 7 6 |2 9 3 |1 4 8
9 4 8 |6 5 1 |7 2 3
1 3 2 |4 7 8 |9 5 6

test_triple3 :
Solved

    3         9     123456789 |123456789 123456789 123456789 |    7     123456789 123456789
123456789 123456789 123456789 |123456789 123456789 123456789 |    6         5     123456789
    5     123456789     7     |123456789 123456789 123456789 |    3         4         9
------------------------------+------------------------------+------------------------------
123456789     4         9     |    3         8     123456789 |    5     123456789     6
    6     123456789     1     |123456789     5         4     |    9         8         3
    8         5         3     |123456789 123456789 123456789 |    4     123456789 123456789
------------------------------+------------------------------+------------------------------
    9     123456789 123456789 |    8     123456789 123456789 |    1         3         4
123456789 123456789     2     |    9         4     123456789 |    8         6         5
    4     123456789 123456789 |123456789 123456789 123456789 |    2         9         7

3 9 6 |4 2 5 |7 1 8
1 8 4 |7 3 9 |6 5 2
5 2 7 |1 6 8 |3 4 9
------+------+------
2 4 9 |3 8 1 |5 7 6
6 7 1 |2 5 4 |9 8 3
8 5 3 |6 9 7 |4 2 1
------+------+------
9 6 5 |8 7 2 |1 3 4
7 1 2 |9 4 3 |8 6 5
4 3 8 |5 1 6 |2 9 7

test_rob :
Invalid Sudoku: Error 404

123456789 123456789 123456789 |    2     123456789 123456789 |123456789 123456789     5
    8     123456789 123456789 |123456789 123456789     9     |123456789 123456789     4
123456789 123456789 123456789 |    1         8     123456789 |123456789     2     123456789
------------------------------+------------------------------+------------------------------
    3     123456789 123456789 |123456789 123456789 123456789 |    5     123456789     9
    5     123456789 123456789 |123456789 123456789 123456789 |123456789     7     123456789
123456789     6     123456789 |123456789 123456789 123456789 |123456789     4     123456789
------------------------------+------------------------------+------------------------------
123456789 123456789 123456789 |123456789 123456789 123456789 |123456789 123456789     6
123456789 123456789     1     |123456789     3         4     |    9         8     123456789
    9         2     123456789 |    8         5     123456789 |123456789 123456789     3

. . . |2 . . |. . 5
8 . . |. . 9 |. . 4
. . . |1 8 . |. 2 .
------+------+------
3 . . |. . . |5 . 9
5 . . |. . . |. 7 .
. 6 . |. . . |. 4 .
------+------+------
. . . |. . . |. . 6
. . 1 |. 3 4 |9 8 .
9 2 . |8 5 . |. . 3

### Testing scenario when the puzzle is invalid from the beginning (doesn't follow the Sudoku rules) after loading the image

In [6]:
solve(test1)

('Ivalid Sudoku', ['8', 'A1'], ['8', 'A2'])

### Individual Testing

In [7]:
test_individual = tests[3]
grid_test_individual = dict(zip(boxes, ["123456789" if element == "." else element for element in test_individual]))
len(test_individual)

81

In [ ]:
solve(test_individual)

In [ ]:
search(grid_test_individual)

In [ ]:
reduce_puzzle(grid_test_individual)

In [ ]:
solve_technique(test_individual,'single_position')

In [ ]:
solve_technique(test_individual,'single_candidate')

In [ ]:
solve_technique(test_individual,'naked_twins')

In [ ]:
solve_technique(test_individual,'naked_triple')

### Testing solver with dataset

In [9]:
df = pd.read_csv('../Omega2020/data/dataset.csv').drop('Unnamed: 0', axis=1)
df.head()

,Id,Sudoku,Solution,Level,People,Average-Time
0,0,8...74...1.........7.5.9.4....65.4..73.....296...,8591742361648325973725698412916574837354186296...,Diabolical,254,25
1,1,.5.....7.9......6...21.75.8.4..69.3...8...4......,8539461729175823644621375981458692376283754197...,Moderate,281,12
2,2,...45.2..3.........8....4..7...94.3.9..5.2.76....,6974532183248617955819274637186945329435128762...,Diabolical,265,22
3,3,9......31.3...8.....5.7.9..3...4...8.916..54.4...,9274568316341982758153729643527496187916835424...,Tough,279,19
4,4,9.......2784.1.5.....4.....2.53.1.7...7...8......,9615387427846125395234796182953814761479568236...,Moderate,301,14

In [10]:
solve(df['Sudoku'][0])

('Solved',
 '859174236164832597372569841291657483735418629648293175926381754413725968587946312',
 {'A1': '8',
  'A2': '5',
  'A3': '9',
  'A4': '1',
  'A5': '7',
  'A6': '4',
  'A7': '2',
  'A8': '3',
  'A9': '6',
  'B1': '1',
  'B2': '6',
  'B3': '4',
  'B4': '8',
  'B5': '3',
  'B6': '2',
  'B7': '5',
  'B8': '9',
  'B9': '7',
  'C1': '3',
  'C2': '7',
  'C3': '2',
  'C4': '5',
  'C5': '6',
  'C6': '9',
  'C7': '8',
  'C8': '4',
  'C9': '1',
  'D1': '2',
  'D2': '9',
  'D3': '1',
  'D4': '6',
  'D5': '5',
  'D6': '7',
  'D7': '4',
  'D8': '8',
  'D9': '3',
  'E1': '7',
  'E2': '3',
  'E3': '5',
  'E4': '4',
  'E5': '1',
  'E6': '8',
  'E7': '6',
  'E8': '2',
  'E9': '9',
  'F1': '6',
  'F2': '4',
  'F3': '8',
  'F4': '2',
  'F5': '9',
  'F6': '3',
  'F7': '1',
  'F8': '7',
  'F9': '5',
  'G1': '9',
  'G2': '2',
  'G3': '6',
  'G4': '3',
  'G5': '8',
  'G6': '1',
  'G7': '7',
  'G8': '5',
  'G9': '4',
  'H1': '4',
  'H2': '1',
  'H3': '3',
  'H4': '7',
  'H5': '2',
  'H6': '5',
  'H7': '9',
  'H8': '6',
  'H9': '8',
  'I1': '5',
  'I2': '8',
  'I3': '7',
  'I4': '9',
  'I5': '4',
  'I6': '6',
  'I7': '3',
  'I8': '1',
  'I9': '2'},
 {'A1': '8',
  'A2': '.',
  'A3': '.',
  'A4': '.',
  'A5': '7',
  'A6': '4',
  'A7': '.',
  'A8': '.',
  'A9': '.',
  'B1': '1',
  'B2': '.',
  'B3': '.',
  'B4': '.',
  'B5': '.',
  'B6': '.',
  'B7': '.',
  'B8': '.',
  'B9': '.',
  'C1': '.',
  'C2': '7',
  'C3': '.',
  'C4': '5',
  'C5': '.',
  'C6': '9',
  'C7': '.',
  'C8': '4',
  'C9': '.',
  'D1': '.',
  'D2': '.',
  'D3': '.',
  'D4': '6',
  'D5': '5',
  'D6': '.',
  'D7': '4',
  'D8': '.',
  'D9': '.',
  'E1': '7',
  'E2': '3',
  'E3': '.',
  'E4': '.',
  'E5': '.',
  'E6': '.',
  'E7': '.',
  'E8': '2',
  'E9': '9',
  'F1': '6',
  'F2': '.',
  'F3': '8',
  'F4': '.',
  'F5': '.',
  'F6': '.',
  'F7': '.',
  'F8': '.',
  'F9': '.',
  'G1': '.',
  'G2': '2',
  'G3': '.',
  'G4': '3',
  'G5': '.',
  'G6': '1',
  'G7': '.',
  'G8': '5',
  'G9': '.',
  'H1': '.',
  'H2': '.',
  'H3': '.',
  'H4': '.',
  'H5': '.',
  'H6': '.',
  'H7': '.',
  'H8': '.',
  'H9': '8',
  'I1': '.',
  'I2': '.',
  'I3': '.',
  'I4': '9',
  'I5': '.',
  'I6': '.',
  'I7': '.',
  'I8': '.',
  'I9': '2'})

In [11]:
import json
a =solve(df['Sudoku'][0])[2]

In [12]:
"".join([value if len(value) == 1 else "." for value in a.values()])

'859174236164832597372569841291657483735418629648293175926381754413725968587946312'

In [13]:
display(a)

8 5 9 |1 7 4 |2 3 6
1 6 4 |8 3 2 |5 9 7
3 7 2 |5 6 9 |8 4 1
------+------+------
2 9 1 |6 5 7 |4 8 3
7 3 5 |4 1 8 |6 2 9
6 4 8 |2 9 3 |1 7 5
------+------+------
9 2 6 |3 8 1 |7 5 4
4 1 3 |7 2 5 |9 6 8
5 8 7 |9 4 6 |3 1 2

In [14]:
df['Solver'] = df['Sudoku'].apply(lambda x: solve(x)[0])

In [15]:
df.head()

,Id,Sudoku,Solution,Level,People,Average-Time,Solver
0,0,8...74...1.........7.5.9.4....65.4..73.....296...,8591742361648325973725698412916574837354186296...,Diabolical,254,25,Solved
1,1,.5.....7.9......6...21.75.8.4..69.3...8...4......,8539461729175823644621375981458692376283754197...,Moderate,281,12,Solved
2,2,...45.2..3.........8....4..7...94.3.9..5.2.76....,6974532183248617955819274637186945329435128762...,Diabolical,265,22,Solved
3,3,9......31.3...8.....5.7.9..3...4...8.916..54.4...,9274568316341982758153729643527496187916835424...,Tough,279,19,Solved
4,4,9.......2784.1.5.....4.....2.53.1.7...7...8......,9615387427846125395234796182953814761479568236...,Moderate,301,14,Solved

In [16]:
df['Solver'].value_counts()

Solved    5029
Name: Solver, dtype: int64

### Testing solver by technique with dataset

In [17]:
df['Solved_single_position'] = df['Sudoku'].apply(lambda x: solve_technique(x, 'single_position')[0])

In [18]:
df['Solved_single_position'].value_counts()

Not solved    4813
Solved         216
Name: Solved_single_position, dtype: int64

In [19]:
df['Solved_single_candidate'] = df['Sudoku'].apply(lambda x: solve_technique(x, 'single_candidate')[0])

In [20]:
df['Solved_single_candidate'].value_counts()

Solved        2786
Not solved    2243
Name: Solved_single_candidate, dtype: int64

In [21]:
df['Solved_naked_twins']= df['Sudoku'].apply(lambda x: solve_technique(x, 'naked_twins')[0])

In [22]:
df['Solved_naked_twins'].value_counts()

Not solved    3658
Solved        1371
Name: Solved_naked_twins, dtype: int64

In [23]:
df['Solved_naked_triple']= df['Sudoku'].apply(lambda x: solve_technique(x, 'naked_triple')[0])

In [24]:
df['Solved_naked_triple'].value_counts()

Not solved    4790
Solved         239
Name: Solved_naked_triple, dtype: int64

In [25]:
df.head()

,Id,Sudoku,Solution,Level,People,Average-Time,Solver,Solved_single_position,Solved_single_candidate,Solved_naked_twins,Solved_naked_triple
0,0,8...74...1.........7.5.9.4....65.4..73.....296...,8591742361648325973725698412916574837354186296...,Diabolical,254,25,Solved,Not solved,Not solved,Not solved,Not solved
1,1,.5.....7.9......6...21.75.8.4..69.3...8...4......,8539461729175823644621375981458692376283754197...,Moderate,281,12,Solved,Not solved,Solved,Solved,Not solved
2,2,...45.2..3.........8....4..7...94.3.9..5.2.76....,6974532183248617955819274637186945329435128762...,Diabolical,265,22,Solved,Not solved,Not solved,Not solved,Not solved
3,3,9......31.3...8.....5.7.9..3...4...8.916..54.4...,9274568316341982758153729643527496187916835424...,Tough,279,19,Solved,Not solved,Not solved,Not solved,Not solved
4,4,9.......2784.1.5.....4.....2.53.1.7...7...8......,9615387427846125395234796182953814761479568236...,Moderate,301,14,Solved,Not solved,Solved,Solved,Not solved